/* yellow-flashy-livestream-buttons.css */


/**************************
 **************************
 **************************
 * Awesome Flashy buttons
 **************************
 **************************
 **************************/

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background: #0e1538;
}
*/
a.awesome.flashy.bouton {
    position: relative;
    /* padding: 26px 33px; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    /* margin: 200px; */
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    /* width: 45%; */
}

i.awesome.flashy.bouton {
  color: --clr;
}

li.radio.jaune.livestream.button {
  /* margin: 1rem!important; */
  margin: 0.2vw!important;
}


a.awesome.flashy.bouton:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);
}

a.awesome.flashy.bouton::before {
    content: "";
    position: absolute;
    width: 30px;
    /* height: 400%; */
    height: 2000%;
    background: var(--clr);
    /* background: var(--clr, transparent); */
    transition: 1s;
    animation: animate 3s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

a.awesome.flashy.bouton:hover::before {
    width: 120%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a.awesome.flashy.bouton::after {
    content: "";
    position: absolute;
    /* background: #0e1538; */
    background: #000000;
    inset: 4px;
    transition: 0.5s;
}

a.awesome.flashy.bouton:hover::after {
    background: var(--clr);
}

a.awesome.flashy.bouton span {
    position: relative;
    z-index: 1;
    font-size: 1em;
    color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}
a.awesome.flashy.bouton span {
    opacity: 1;
    color: #42DCA3!important;
    /* color: #0e1538; */
}

a.awesome.flashy.bouton span i {
    color: #42DCA3!important;
    /* color: #0e1538; */
}

a.awesome.flashy.bouton:hover span {
    opacity: 1;
    color: #42DCA3!important;
    /* color: #0e1538; */
}

a.awesome.flashy.bouton:hover span i {
    color: #42DCA3!important;
    /* color: #0e1538; */
}
