section#sec-ind-1 {
  padding-top: 3em
}
section#sec-ind-2 {
  padding-top: 3em
}

/********************************************
 *  TITRES CUSTOM
 ********************************************/
span.cent.jaune.gros.titre {
  color: white;
  font-size: 2em;
}
span.cent.jaune.sous.titre {
  color: white;
  font-size: 1em;
}
span.cent.jaune.marque {
  color: yellow;
}


@media (max-width: 771px) and (min-width: 600px) {

  /********************************************
   *  TITRES CUSTOM
   ********************************************/
   span.cent.jaune.gros.titre {
     color: white;
     font-size: 1em;
   }
   span.cent.jaune.sous.titre {
     color: white;
     font-size: .5em;
   }


   /********************************************
    *  DISCORD CHAT INVITE smaller font when small screens
    ********************************************/
   span.network-name.radio.jaune.discord.invite {
     font-size: 1rem!important;
   }

}
@media (max-width: 600px) and (min-width: 360px) {

    /********************************************
     *  TITRES CUSTOM
     ********************************************/
     span.cent.jaune.gros.titre {
       color: white;
       font-size: 1em;
     }
     span.cent.jaune.sous.titre {
       color: white;
       font-size: .5em;
     }


     /********************************************
      *  DISCORD CHAT INVITE smaller font when small screens
      ********************************************/
     span.network-name.radio.jaune.discord.invite {
       font-size: 1rem!important;
     }
}

@media (max-width: 360px) {

  /********************************************
   *  TITRES CUSTOM
   ********************************************/
   span.cent.jaune.gros.titre {
     color: white;
     font-size: 1rem;
   }
   span.cent.jaune.sous.titre {
     color: white;
     font-size: .5rem;
   }

}


/**/

div.ecran.voile.statut.live::before {
    text-align: center;
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    padding: 25%;
    font-size: 5em;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(42, 140, 48, 0.08); */
    /* background: var(--clr); */
    background: var(--clr, transparent);
    transition: 1s ease-in-out;
    z-index: 33;
}

div.ecran.voile.statut.live.on.air::before {
    content: "ON AIR";/* ON AIR */
    text-align: center;
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    padding: 25%;
    font-size: 5em;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 215, 0, 0.77);
    /* background-color: rgba(42, 140, 48, 0.08); */
    /* background: var(--clr); */
    /* background: var(--clr, transparent); */
    transition: 5s ease-in-out;
    z-index: 33;
}

div.ecran.voile.statut.live.off.air::before {
    content: "OFF AIR";/* ON AIR */
    width: 0% !important;
    height: 0% !important;
    background-color: rgba(255, 215, 0, 0.77) !important;
    color: white;
    margin: 0% !important;
    padding: 0% !important;
    font-size: 0em;
    display: block;
    /* background-color: rgba(42, 140, 48, 0.08); */
    /* background: var(--clr); */
    /* background: var(--clr, transparent); */
    transition: 5s ease-in-out;
    z-index: 33;
}



/******************** ********************* **************************/
/******************** ********************* **************************/
/******************** ********************* **************************/
/******************** **       CCC       ** **************************/
/******************** ********************* **************************/
/******************** ********************* **************************/
/******************** ********************* **************************/


li.disabled.bientot.pas.encore, label.disabled.bientot.pas.encore {
  cursor: not-allowed;
}
li.disabled.bientot.pas.encore::before, label.disabled.bientot.pas.encore::before  {
  content: '';
  cursor: not-allowed;
  position: absolute;
  top: 0px!important;
  left: 0px!important;
  /* background: 100% 100% url('/images/radiojaune/favicon/vicon.ico') no-repeat center center fixed; */*/
  background: 100% 100% rgba(0, 0, 0, 0.5); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 44;
}
li.disabled.bientot.pas.encore a, label.disabled.bientot.pas.encore i, i.disabled.bientot.pas.encore {
  pointer-events: none;
}



/******************** ********************* **************************/
/******************** ********************* **************************/
/******************** ********************* **************************/
/******************** **  DISCORD INVITE ** **************************/
/******************** ********************* **************************/
/******************** ********************* **************************/
/******************** ********************* **************************/


/********************************************
 * GRID :
 * (max-width: 600px) and (min-width: 450px)
 * (max-width: 450px) and (min-width: 358px)
 * (max-width: 358px) and (min-width: 304px)
 * (max-width: 303px)
 *  BUT , AFTER SOME TESTS, SCREENS WITH WIDTH LESS THAN '311px' are not supported yet.
 */
@media (max-width: 303px)  {
  div.container div.row div.col-lg-8.mx-auto {
    padding-top: 0em!important;
  }
  section.yellow.tabbed.livestreams {
    padding: 0px!important;

  }/**********************************/
  a.invitation.radio.jaune.btn {
    font-size: .85rem!important;
  }
}

@media (max-width: 358px) and (min-width: 303px)  {
  /**********************************/
  a.invitation.radio.jaune.btn {
    font-size: .85rem!important;
  }
}




/********************************************
 * GRID :
 * (max-width: 600px) and (min-width: 450px)
 * (max-width: 450px) and (min-width: 358px)
 * (max-width: 358px) and (min-width: 304px)
 * (max-width: 303px)
 *  BUT , AFTER SOME TESTS, SCREENS WITH WIDTH LESS THAN '311px' are not supported yet.
 */

span.compteur.de.visites img, span.statut.du.live.twitch img {
 width: :auto!important;
 height: 2em!important;
}


div.row.bandeau.social  {
 display: inline!important;
}
ul.liste.bandeau.social {
  display: inline!important;
  list-style: none!important;
  list-style: none!important;
}
ul.liste.bandeau.social li {
 list-style: none!important;
}
