/* yellow-flashy-livestream-buttons.css */


/**************************
 **************************
 **************************
 * Awesome Flashy buttons
 **************************
 **************************
 **************************/

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background: #0e1538;
}
*/
a.awesome.flashy.bouton {
    position: relative;
    /* padding: 26px 33px; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    /* margin: 200px; */
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    /* width: 45%; */
}

i.awesome.flashy.bouton {
  color: --clr;
}

li.radio.jaune.livestream.button {
  /* margin: 1rem!important; */
  margin: 0.2vw!important;
}


a.awesome.flashy.bouton:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);
}

a.awesome.flashy.bouton::before {
    content: "";
    position: absolute;
    width: 30px;
    /* height: 400%; */
    height: 2000%;
    background: var(--clr);
    /* background: var(--clr, transparent); */
    transition: 1s;
    animation: animate 3s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

a.awesome.flashy.bouton:hover::before {
    width: 120%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a.awesome.flashy.bouton::after {
    content: "";
    position: absolute;
    /* background: #0e1538; */
    background: #000000;
    inset: 4px;
    transition: 0.5s;
}

a.awesome.flashy.bouton:hover::after {
    background: var(--clr);
}

a.awesome.flashy.bouton span {
    position: relative;
    z-index: 1;
    font-size: 1em;
    color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}
a.awesome.flashy.bouton span {
    opacity: 1;
    color: #42DCA3!important;
    /* color: #0e1538; */
}

a.awesome.flashy.bouton span i {
    color: #42DCA3!important;
    /* color: #0e1538; */
}

a.awesome.flashy.bouton:hover span {
    opacity: 1;
    color: #42DCA3!important;
    /* color: #0e1538; */
}

a.awesome.flashy.bouton:hover span i {
    color: #42DCA3!important;
    /* color: #0e1538; */
}
/********************************************
 * GRID :
 * (max-width: 600px) and (min-width: 450px)
 * (max-width: 450px) and (min-width: 358px)
 * (max-width: 358px) and (min-width: 304px)
 * (max-width: 303px)
 *  BUT , AFTER SOME TESTS, SCREENS WITH WIDTH LESS THAN '311px' are not supported yet.
 */
@media (max-width: 303px)  {
  a.awesome.flashy.bouton span {
    font-size: .5rem!important;
  }
}


@media (max-width: 358px) and (min-width: 303px)  {
  a.awesome.flashy.bouton span {
    font-size: 7px!important;
  }
}

@media (max-width: 450px) and (min-width: 358px) {
  a.awesome.flashy.bouton span {
    font-size: 1rem!important;
  }
}


@media (max-width: 600px) and (min-width: 450px)  {
  a.awesome.flashy.bouton span {
    font-size: 1rem!important;
  }
}

@media (min-width: 600px)  {
  a.awesome.flashy.bouton span {
    font-size: 1.5rem!important;
  }
}


/**************************
 **************************
 **************************
 *      CUSTOM
 **************************
 **************************
 **************************/
 /* https://codepen.io/sdhp/pen/ZbWgNM */

  /*
  body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
  }
  */

 .wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   /* I LOVE this background */

   background: radial-gradient(ellipse at center, #37474F 6%, #0e0e0e 100%);
 }

 .line {
   text-decoration: none;
   outline: none;
   outline: 0;
   text-align: center;
   border-radius: 4px;
 }
 /* when clicked */

 .big:active {
   letter-spacing: -1px;
   font-size: 2.2em;
   line-height: 2.2em;
   border: transparent;
 }

 .big {
   font-size: 2.4em;
   line-height: 2.4em;
   font-weight: bold;
   letter-spacing: -1px;
   padding: 1.3em 1.2em;
   /* round corners: */

   border-radius: 12px;
   /* or round: */
   /* border-radius: 50%; */

   border: 3px solid rgba(0, 0, 0, .35);
   box-shadow: 0px -1px 24px 4px #76FF03, 4px 4px 24px 0px #111, 1px 2px 2px 2px #5BCC00 inset, -1px -1px 4px 2px #5BCC00 inset;
   background: radial-gradient(farthest-corner at 45px 45px, #37474F 6%, #263238 100%);
   transition: all;
 }

 .online {
   box-shadow: 0px -1px 12px 4px #263238, 4px 4px 12px 0px #111, 1px 2px 2px 2px #263238 inset, -1px -1px 4px 2px #263238 inset;
   color: #CCFF90;
   //text-shadow: 2px 0px 2px #5BCC00, 0px 2px 2px #5BCC00, -2px 0px 1px #5BCC00, 0px -2px 2px #5BCC00;
 }
 .offline {
   background-color: #37474F;
   color: #263238;
   text-shadow: 0 1px 1px hsla(0, 0%, 100%, .25), 0 -1px 1px hsla(0, 0%, 0%, .75);
   border: 4px solid rgba(0, 0, 0, .45);
   letter-spacing: -2px;
   box-shadow: 0px -1px 12px 4px #263238, 4px 4px 12px 0px #111, 1px 2px 2px 2px #263238 inset, -1px -1px 4px 2px #263238 inset;
 }
 .online.livestreams {
   box-shadow: 0px -1px 12px 4px #263238, 4px 4px 12px 0px #111, 1px 2px 2px 2px #263238 inset, -1px -1px 4px 2px #263238 inset;
   color: #CCFF90;
   text-shadow: none!important;
 }
 .offline.livestreams {
   background-color: #37474F;
   color: #263238;
   text-shadow: none!important;
   border: 4px solid rgba(0, 0, 0, .45);
   letter-spacing: -2px;
   box-shadow: 0px -1px 12px 4px #263238, 4px 4px 12px 0px #111, 1px 2px 2px 2px #263238 inset, -1px -1px 4px 2px #263238 inset;
 }


/********************************************
 * GRID :
 * (max-width: 600px) and (min-width: 450px)
 * (max-width: 450px) and (min-width: 358px)
 * (max-width: 358px) and (min-width: 304px)
 * (max-width: 303px)
 *  BUT , AFTER SOME TESTS, SCREENS WITH WIDTH LESS THAN '311px' are not supported yet.
 *********************************************/
@media (max-width: 303px)  {
 .big {
   /* round corners: */

   border-radius: 1px;
   /* or round: */
   /* border-radius: 50%; */
 }
}


@media (max-width: 358px) and (min-width: 303px)  {
 .big {
   /* round corners: */

   border-radius: 3px;
   /* or round: */
   /* border-radius: 50%; */
 }
}

@media (max-width: 450px) and (min-width: 358px) {
 .big {
   /* round corners: */

   border-radius: 4px;
   /* or round: */
   /* border-radius: 50%; */
 }
}


@media (max-width: 600px) and (min-width: 450px)  {
 .big {
   /* round corners: */

   border-radius: 9px;
   /* or round: */
   /* border-radius: 50%; */
 }
}

@media (min-width: 600px)  {
 .big {
   /* round corners: */

   border-radius: 12px;
   /* or round: */
   /* border-radius: 50%; */
 }
}
