section#sec-ind-1 {
  padding-top: 3em
}
section#sec-ind-2 {
  padding-top: 3em
}

/********************************************
 *  TITRES CUSTOM
 ********************************************/
span.cent.jaune.gros.titre {
  color: white;
  font-size: 2em;
}
span.cent.jaune.sous.titre {
  color: white;
  font-size: 1em;
}
span.cent.jaune.marque {
  color: yellow;
}

@media (max-width: 600px) {

  /********************************************
   *  TITRES CUSTOM
   ********************************************/
   span.cent.jaune.gros.titre {
     color: white;
     font-size: 1em;
   }
   span.cent.jaune.sous.titre {
     color: white;
     font-size: .5em;
   }


   /********************************************
    *  DISCORD CHAT INVITE smaller font when small screens
    ********************************************/
   span.network-name.radio.jaune.discord.invite {
     font-size: 1rem!important;
   }

}
