/* yellow-flashy-tabbed-livestreams.css */

label.yellow.tabbed.livestreams.tab {
  font-size: 1.5em;
  color: #fff;
  color: #42DCA3!important;
  border: 1px dotted rgba(36, 142, 147, 0.3);
  background: black;
  -webkit-transition : 500ms ease-out;
  -moz-transition : 500ms ease-out;
  -o-transition : 500ms ease-out;
  transition : 500ms ease-out;
}
label.yellow.tabbed.livestreams.tab:hover {
  font-size: 3em;
  border: 1px dotted rgba(100, 65, 165, 0.3);
  color: white!important;
}
label.yellow.tabbed.livestreams.tab i.awesome.flashy.bouton {
  font-size: 1.5em;
  -webkit-transition : 500ms ease-out;
  -moz-transition : 500ms ease-out;
  -o-transition : 500ms ease-out;
  transition : 500ms ease-out;
}

@media only screen and (max-width: 600px) {

  label.yellow.tabbed.livestreams.tab {
    font-size: 1em;
    color: #fff;
    color: #42DCA3!important;
    border: 1px dotted rgba(36, 142, 147, 0.3);
    background: black;
    -webkit-transition : 500ms ease-out;
    -moz-transition : 500ms ease-out;
    -o-transition : 500ms ease-out;
    transition : 500ms ease-out;
  }
  label.yellow.tabbed.livestreams.tab:hover {
    font-size: 2em;
    border: 1px dotted rgba(100, 65, 165, 0.3);
    color: white!important;
  }
  label.yellow.tabbed.livestreams.tab i.awesome.flashy.bouton {
    font-size: 1em;
    -webkit-transition : 500ms ease-out;
    -moz-transition : 500ms ease-out;
    -o-transition : 500ms ease-out;
    transition : 500ms ease-out;
  }
}
label.yellow.tabbed.livestreams.tab i.awesome.flashy.bouton:hover {
  /* color: rgba(36, 142, 147, 0.6)!important; */
  color: white!important;
}



/**************************
 **************************
 **************************
 * Tabbed panels
 **************************
 **************************
 **************************/
/***>> many thanks to @makzan "Thomas Seng Hin Mak" https://codepen.io/makzan */
/***>> https://codepen.io/makzan/pen/MWYMVoM */
/* For debug only */
/* {
   border: 1px solid black !important;
   padding: 1em;
 }
 */


.tabs {
  /* Step 1: Enable Flex on the container */
  display: flex;

  /* Step 2: Enable flex-wrap to put content section below tab label */
  flex-wrap: wrap;
}
.tabs > section {
  /* Step 3: Move content <section> to the end, after the tab labels */
  order: 999;

  /* Step 4: Make sure the content <section> is 100% width */
  width: 100%;

  /* Step 5: Hide all content <section> by default */
  display: none;
}
.tabs > input {
  /* display: none; Don’t use display:none. Bad for accessibility */

  /* Step 6: Hide the radio inputs */
  opacity: 0;

  /* Step 7: Make sure the radio inputs don’t take up space in layout */
  position: absolute;
}
/* Step 8: Select the label right next to the selected input */
.tabs > input[type=radio]:checked + label {
  /* Step 9: Highlight the selected label */
  /* background: yellow; */
}
/* Step 10: Select the section right next to the label which is next to the selected input */
.tabs > input[type=radio]:checked + label + section {
  /* Step 11: Unset the 'display:none' we did in step 5 */
  display: unset;
}

/* Done. Make sure to disable the debug code at the beginning of CSS. And now it is time to make the tabs look good */

/* Make the tabs look good */
/* Final Step: Make the tabs pretty with padding and colors */

.tabs > label {
  padding: .5em 1em;
  /* background: #b4d5e4; */
  cursor: pointer;
  /* border-right: 1px solid #798f99; */
}
.tabs > label:last-of-type {
  /* border-right: none; */
}
.tabs > input[type=radio]:checked + label {
  /* background: #798f99;; */
}

.tabs section {
  /* border: 1px #798f99 solid; */
  /* border-top: 5px #798f99 solid; */
  padding: 1em;
}

/*
body {
  padding: 2em;
}
*/
