---
import { TikTokIcon } from "./TikTokIcon";

interface TikTokCornerAstroProps {
  link?: string;
  size?: number;
  color?: string;
}
const {
  link = `https://www.tiktok.com/@radiojaune`,
  size = 48,
  color = `currentColor`//`currentColor` 
} = Astro.props;

---
<!-- https://github.com/tholman/github-corners -->
<a
  target="_blank"
  href={link}
  aria-label="Radio Jaune sur TikTok"
  class="absolute right-0 top-0 hover:right-3 hover:top-3  z-10 rounded-full transition-all duration-500 hover:text-fuchsia-500 hover:scale-125 p-3 text-white focus:ring-0 focus:ring-offset-0"
  >
  <TikTokIcon client:only="preact" client:visible size={size} color={color} className="animate-pulse" />
</a>

<style>
  a:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
  @media (max-width: 500px) {
    a:hover .octo-arm {
      animation: none;
    }
    a .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
</style>
