<div class="row bandeau social carousel">
  <div class="col-12">
    <!-- <h1>RADIOJAUNE.COM</h1> -->
      <div class="container">
    		<div id="carouselid">
    			<figure>
            <!-- YOUTUBE VIDEO :  BULMA CSS -->

            <iframe width="560" height="315" src="https://www.youtube.com/embed/LBzZLzu2GKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </figure>
    			<figure><img src="http://lorempixel.com/186/116/nature/2" alt=""></figure>
    			<figure><img src="http://lorempixel.com/186/116/nature/3" alt=""></figure>
    			<figure><img src="http://lorempixel.com/186/116/nature/4" alt=""></figure>
    			<figure><img src="http://lorempixel.com/186/116/nature/5" alt=""></figure>
    			<figure><img src="http://lorempixel.com/186/116/nature/6" alt=""></figure>
    			<figure><img src="http://lorempixel.com/186/116/nature/7" alt=""></figure>
    			<figure><img src="http://lorempixel.com/186/116/nature/8" alt=""></figure>
    			<figure><img src="http://lorempixel.com/186/116/people/9" alt=""></figure>
    		</div>
    	</div>
  </div>
</div>
