    <li class="nav-item statut du live twitch">
      <a href="{{ .Site.Params.github_pages }}" class="nav-link js-scroll-trigger improve-contrast-box">
          <span class=" statut du live twitch">
              <img src="https://img.shields.io/twitch/status/{{ .Site.Params.twitch_channel_name }}?style=social&left_color=rgba(0, 255, 0, 0.52)&right_color=rgba(244, 244, 31, 0.52)" alt="Views"/>
          </span>
          <!--
             https://ravichaganti.com/blog/adding-visitor-counter-to-statically-generated-web-pages/
             https://visitor-badge.glitch.me/#
          -->
      </a>
    </li>


   <!-- Additional menus -->
   <li class="nav-item">
     <a href="{{ .Site.Params.vk_channel_link }}" class="nav-link js-scroll-trigger improve-contrast-box">
     <i class="fa fa-vk fa-fw"></i>
     </a>
   </li>

   <li class="nav-item">
     <a href="https://www.youtube.com/channel/{{ .Site.Params.youtube_channel_id }}" class="nav-link js-scroll-trigger improve-contrast-box">
     <i class="fa fa-youtube fa-fw"></i>
     </a>
   </li>

   <!-- <li class="nav-item disabled bientot pas encore" -->
   <li class="nav-item disabled bientot pas encore"
       data-toggle="popover"
       data-content="Radio Jaune sera bientôt sur Rumble"
       >
    <a href="{{ .Site.Params.rumble_channel_link }}" class="nav-link js-scroll-trigger improve-contrast-box"><i class="fas fa fa-ruble-sign fa-fw"></i></a>
   </li>


    <li class="nav-item">
      <a href="{{ .Site.Params.twitch_channel_link }}" class="nav-link js-scroll-trigger improve-contrast-box">
      <i class="fa fa-twitch fa-fw"></i>
      </a>
    </li>

   <li class="nav-item">
     <a href="{{ .Site.Params.telegram_group_link }}" class="nav-link js-scroll-trigger improve-contrast-box">
     <i class="fa fa-telegram fa-fw"></i>
     </a>
   </li>

   <li class="nav-item">
     <a href="{{ .Site.Params.discord_server_invitation }}" class="nav-link js-scroll-trigger improve-contrast-box">
     <i class="fa fa-discord"></i>
     </a>
   </li>




   <li class="nav-item">
     <a href="{{ .Site.Params.github_pages }}" class="nav-link js-scroll-trigger improve-contrast-box">
     <i class="fa fa-github fa-fw"></i>
     <span class="network-name">Dev</span>
     </a>
   </li>


   <li class="nav-item compteur de visites">
     <a href="{{ .Site.Params.github_pages }}" class="nav-link js-scroll-trigger improve-contrast-box">
         <span class="compteur de visites">
             <img src="https://visitor-badge.glitch.me/badge?page_id={{ .Permalink }}&left_color=rgba(255, 255, 0, .7)&right_color=rgba(0, 130, 0, 0.32)" alt="Nombre de visites"/>
         </span>
         <!--
            https://ravichaganti.com/blog/adding-visitor-counter-to-statically-generated-web-pages/
            https://visitor-badge.glitch.me/#
         -->
     </a>
   </li>
