<hr/>



<!--
  <h5>ça c'est la discussion liée à un thread de commentaire d'un post sur un channel telegram : </h5>
  <script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="HGTDFGF/5" data-tme-mode data-width="100%"></script>

  <script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-discussion="HGTDFGF/5" data-comments-limit="5" data-color="CA9C0E" data-dark-color="F0B138"></script>

<hr/>
  <h5>ICI LE BOT DE CHAT INTERGRAM / GROUPE DE DISCUSSION de test "BJ" : ça c'est une tentative pour ce qu'on appelle une "discussion" telegram le dernier sondage sur le Channel Telegram "radiojaune" : </h5>

  -->

  <!-- le chat bot intergram, il fonctionne comme fenêtre flottante -->
  <script>
      window.intergramId = "{{ .Site.Params.telegram_chat_id }}";
      window.intergramCustomizations = {
          titleClosed: 'RADIOJAUNE.COM - on Telegram!',
          titleOpen: 'RADIOJAUNE.COM - Telegram',
          introMessage: 'RADIOJAUNE.COM - (Y viva la revolución!)\r\n Bienvenue sur le Chat Telegram de RADIOJAUNE.COM ! [!! >> Ce robot est un prototype << !!] L\'équipe Cloud est en train de vous préparer quelque chose sur Telegram : un Prototype personnel de Dieu, mutant à l\'énergie dense jamais conçu pour la production en série. Il est le premier d\'une espèce : trop bizarre pour vivre, trop puissant et rare pour mourir, il va spontanément muter en un Singe cybernétique à flux quantique inversé non-antisémite et agnostico-félon.',
          autoResponse: 'Félicitations!\r\n vous venez d\'envoyer votre premier message à l\'équipe admin de RADIOJAUNE.COM!! :) \n                            [!! >> Ce robot est un prototype << !!] \n L\'équipe Cloud est en train de vous préparer quelque chose sur Telegram : un Prototype personnel de Dieu, mutant à l\'énergie dense jamais conçu pour la production en série. Il est le premier d\'une espèce : trop bizarre pour vivre, trop puissant et rare pour mourir, il va spontanément muter en un Singe cybernétique à flux quantique inversé non-antisémite et agnostico-félon.',
          autoNoResponse: 'RADIOJAUNE.COM Admin: toutes nos excuses, il n\' y a personne de l\'équipe Admin qui ait pu répondre à votre message. N\'hésitez pas à ré-essayer d\'ici une heure ou deux.. :) (Y viva la revolución!) ' +
                          '                          [!! >> Ce robot est un prototype << !!] L\'équipe Cloud est en train de vous préparer quelque chose sur Telegram : un Prototype personnel de Dieu, mutant à l\'énergie dense jamais conçu pour la production en série. Il est le premier d\'une espèce : trop bizarre pour vivre, trop puissant et rare pour mourir, il va spontanément muter en un Singe cybernétique à flux quantique inversé non-antisémite et agnostico-félon.', // A message that is sent one minute after the user sends its first message, and no response was received
          mainColor: "#E91E63", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
          alwaysUseFloatingButton: true, // Use the mobile floating button also on large screens
          placeholderText: 'Envoyez votre message...'
      };
  </script>
  <script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>



  <!--
<hr/>
  <h5>Les 3 inclusions de commentaires avec https://comments.app/manage : </h5>
  -->

  <!-- this one is for localhost -->
  <!--
  <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="{{ .Site.Params.telegram_dev_site_id }}" data-limit="5"></script>

  -->
  <!-- this one is for the raadio-jaune.surge.sh domain -->
  <!--
  <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="{{ .Site.Params.telegram_uat_site_id }}" data-limit="5"></script>
  -->
  <!-- this one is for the radiojaune.com domain -->

  <!--

  <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="{{ .Site.Params.telegram_prod_site_id }}" data-limit="5"></script>
  <h5>FIN DES Les 3 inclusions de commentaires avec https://comments.app/manage : </h5>
<hr/>
-->

<!-- https://github.com/idoco/intergram -->
<!--

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-discussion="ezdadqf" data-comments-limit="5" data-color="CA9C0E" data-dark-color="F0B138"></script>

-->




<!--



  <h5>ça, c'est le bouton PARTAGER pour partager le post avec le sondage : </h5>
  <script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-share-url="https://t.me/radiojaune/6"></script>

-->
  <!-- about the share button :

     https://core.telegram.org/widgets/share#custom-buttons

     -> https://t.me/share/url?url={url}&text={text}
     -> where {url} is the URL the user will be sharing and {text} is an optional description that will be included with the link. Both values should be URL-encoded.

  -->
<hr/>
