




      <section class="col-sm-12">

        <div class="highlighted">
          <div class="region region-highlighted">
            <h1 class="page-header">Offres de poste</h1>

            <div data-drupal-messages-fallback class="hidden"></div>

          </div>
        </div>



        <a id="main-content"></a>
        <div class="region region-content">
          <div class="views-element-container form-group">
            <div class="view view-offres-de-poste view-id-offres_de_poste view-display-id-page_1 js-view-dom-id-025bd15ee965434484677899e399df5d569f812cd25a70390fba1bda84fc8779">



              <div class="view-content">
                <div class="views-view-grid horizontal cols-2 clearfix">
                  <div class="views-row clearfix row-1">
                    <div class="views-col col-1" style="width: 50%;">
                      <article data-history-node-id="169" role="article" about="/fr/node/169" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/169" rel="bookmark">
                            <span>Gestionnaire INSTAGRAM</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/169" rel="tag" title="Gestionnaire INSTAGRAM" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Gestionnaire INSTAGRAM</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Aujourd’hui, le Cercle Aristote souhaite élargir le rayonnement sur les réseaux sociaux en renforçant son<br />
                              empreinte sur la plateformede Instagram.<br />
                              Dans ce cadre, le rôle du gestionnaire consiste à publier les contenus du Cercle Aristote sur le compte<br />
                              Instagram de l’association et à pourvoir à son développement. Ainsi, le gestionnaire contribue au<br />
                              renforcement de la visibilité du Cercle Aristote et du mouvement souverainiste, en particulier auprès des<br />
                              plus jeunes.</p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="https://cerclearistote.com/sites/default/files/2022-02/Cercle%20Aristote%20-%20GESTIONNAIRE%20INSTAGRAM%20-%20Fiche%20de%20poste_0.pdf"
                                    type="application/pdf; length=78281" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - GESTIONNAIRE INSTAGRAM - Fiche de poste_0.pdf</a></span><span
                                  class="file-size">76.45 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                    <div class="views-col col-2" style="width: 50%;">
                      <article data-history-node-id="168" role="article" about="/fr/node/168" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/168" rel="bookmark">
                            <span>Gestionnaire TWITCH</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/168" rel="tag" title="Gestionnaire TWITCH" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Gestionnaire TWITCH</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Aujourd’hui, le Cercle Aristote souhaite élargir le spectre de ses vecteurs de comunication en investissant<br />
                              la plateforme Twitch en y diffusant ses interventions en direct.<br />
                              Dans ce cadre, le rôle du gestionnaire consiste à organiser ces événements sur Twitch et de pourvoir au<br />
                              développement de cette chaîne par l’augmentation de son attractivité et de ses abonnés. Le gestionnaire<br />
                              contribue ainsi au rayonnement du Cercle Aristote et à la visibilité du mouvement souverainiste, en</p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="https://cerclearistote.com/sites/default/files/2022-02/Cercle%20Aristote%20-%20GESTIONNAIRE%20TWITCH%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=79587" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - GESTIONNAIRE TWITCH - Fiche de poste.pdf</a></span><span
                                  class="file-size">77.72 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                  </div>
                  <div class="views-row clearfix row-2">
                    <div class="views-col col-1" style="width: 50%;">
                      <article data-history-node-id="167" role="article" about="/fr/node/167" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/167" rel="bookmark">
                            <span>Gestionnaire ODYSEE</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/167" rel="tag" title="Gestionnaire ODYSEE" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Gestionnaire ODYSEE</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Aujourd’hui, le Cercle Aristote souhaite élargir le spectre de ses vecteurs de comunication en investissant<br />
                              la plateforme Odysee en y relayant les vidéos en provenance du compte Youtube de l’association (75 000<br />
                              abonnés), plateforme jusqu’ici privilégiée par l’association pour les besoins de sa communication.<br />
                              Dans ce cadre, le rôle du gestionnaire consiste à publier sur Odysee les nouvelles vidéos du Cercle Aristote<br />
                              en synchronisation avec les autres plateformes (Youtube, Facebook, site internet, Peertube, Vk, Gab, etc.).</p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="https://cerclearistote.com/sites/default/files/2022-02/Cercle%20Aristote%20-%20GESTIONNAIRE%20ODYSEE%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=79486" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - GESTIONNAIRE ODYSEE - Fiche de poste.pdf</a></span><span
                                  class="file-size">77.62 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                    <div class="views-col col-2" style="width: 50%;">
                      <article data-history-node-id="144" role="article" about="/fr/node/144" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/144" rel="bookmark">
                            <span>Modérateur DISCORD</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/144" rel="tag" title="Modérateur DISCORD" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Modérateur DISCORD</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Le Cercle Aristote souhaite renforcer l’équipe de modérateurs administrant sa plateforme Discord afin d’y<br />
                              perpétuer les meilleures conditions d’expression personnelle de ses utilisateurs selon les principes du<br />
                              respect, de la pluralité et du dialogue.<br />
                              Dans ce cadre, le rôle du modérateur consiste à organiser la plateforme, y relayer les initiatives de<br />
                              l’association et en assurer la régulation au service de ses membres. Par son implication, le modérateur</p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="http://www.cerclearistote.com/sites/default/files/2022-01/Cercle%20Aristote%20-%20MODERATEUR%20DISCORD%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=74904" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - MODERATEUR DISCORD - Fiche de poste.pdf</a></span><span
                                  class="file-size">73.15 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                  </div>
                  <div class="views-row clearfix row-3">
                    <div class="views-col col-1" style="width: 50%;">
                      <article data-history-node-id="143" role="article" about="/fr/node/143" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/143" rel="bookmark">
                            <span>Maquettiste</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/143" rel="tag" title="Maquettiste" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Maquettiste</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Au sein de la cellule Edition, la maquettiste s’emploie à la mise en forme des textes et des manuscrits pour<br />
                              en garantir la cohérence formelle avant parution. Le maquettiste agit en faveur du caractère esthétique de<br />
                              l’ouvrage, non à sa correction qui est opérée en amont.<br />
                              Par son implication, le maquettiste participe à la production littéraire du Cercle Aristote et conforte ainsi<br />
                              la renommée de sa collection, notamment en vue de soutenir les jeunes plumes et d’attirer davantage<br />
                              d’intellectuels reconnus.<br />
                            </p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="http://www.cerclearistote.com/sites/default/files/2022-01/Cercle%20Aristote%20-%20MAQUETTISTE%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=73167" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - MAQUETTISTE - Fiche de poste.pdf</a></span><span
                                  class="file-size">71.45 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                    <div class="views-col col-2" style="width: 50%;">
                      <article data-history-node-id="142" role="article" about="/fr/node/142" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/142" rel="bookmark">
                            <span>Gestionnaire VK et GAB</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/142" rel="tag" title="Gestionnaire VK et GAB" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Gestionnaire VK et GAB</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Aujourd’hui, le Cercle Aristote souhaite élargir son rayonnement sur les réseaux sociaux en renforcant son<br />
                              empreinte sur les plateformes Vk et Gab.<br />
                              Dans ce cadre, le rôle du gestionnaire consiste à publier les contenus du Cercle Aristote sur les comptes<br />
                              Vk et Gab de l’association et à pourvoir à leur développement. Ainsi, le gestionnaire contribue à<br />
                              l’augmentation de la visibilité du Cercle Aristote et du mouvement souverainiste, en particulier auprès des<br />
                              plus jeunes.<br />
                            </p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="http://www.cerclearistote.com/sites/default/files/2022-01/Cercle%20Aristote%20-%20GESTIONNAIRE%20VK%20%26%20GAB%20-%20Fiche%20de%20poste_0.pdf"
                                    type="application/pdf; length=79184" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - GESTIONNAIRE VK &amp; GAB - Fiche de
                                    poste_0.pdf</a></span><span class="file-size">77.33 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                  </div>
                  <div class="views-row clearfix row-4">
                    <div class="views-col col-1" style="width: 50%;">
                      <article data-history-node-id="141" role="article" about="/fr/node/141" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/141" rel="bookmark">
                            <span>Gestionnaire Twitter &amp; Gettr</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/141" rel="tag" title="Gestionnaire Twitter &amp; Gettr" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Gestionnaire Twitter &amp; Gettr</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Aujourd’hui, le Cercle Aristote souhaite élargir le rayonnement de son compte Twitter ainsi que le spectre<br />
                              de ses vecteurs de comunication en investissant la plateforme Gettr.<br />
                              Dans ce cadre, le rôle du gestionnaire consiste à publier les contenus du Cercle Aristote sur les comptes<br />
                              Twitter et Gettr de l’association et à pourvoir à leur développement. Ainsi, le gestionnaire contribue au<br />
                              renforcement de la visibilité du Cercle Aristote et du mouvement souverainiste, en particuliuer auprès du<br />
                              public le plus jeune.<br />
                            </p>
                          </div>

                        </div>

                      </article>
                    </div>
                    <div class="views-col col-2" style="width: 50%;">
                      <article data-history-node-id="140" role="article" about="/fr/node/140" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/140" rel="bookmark">
                            <span>Chargé des adhésions</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/140" rel="tag" title="Chargé des adhésions" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Chargé des adhésions</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Le Cercle Aristote met en place un système de reconnaissance de ses membres par un régime d’ahésions<br />
                              ouvrant droit à l’accès à des contenus spécifiques.<br />
                              La proposition d’adhésion implique une activité de gestion qui revient à un membre chargé de son suivi<br />
                              au sein de l’équipe de l’association.<br />
                              Au regard du lien direct que matérialisent les adhésions au Cercle Aristote, le rôle du chargé des adhésions<br />
                              revêt une importance fondamentale pour la cohésion des soutiens à l’association. Par son implication, le</p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="http://www.cerclearistote.com/sites/default/files/2022-01/Cercle%20Aristote%20-%20CHARGE%20DES%20ADHESIONS%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=75102" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - CHARGE DES ADHESIONS - Fiche de poste.pdf</a></span><span
                                  class="file-size">73.34 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                  </div>
                  <div class="views-row clearfix row-5">
                    <div class="views-col col-1" style="width: 50%;">
                      <article data-history-node-id="127" role="article" about="/fr/node/127" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/127" rel="bookmark">
                            <span>Redacteur Newsletter</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/127" rel="tag" title="Redacteur Newsletter" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Redacteur Newsletter</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Le Cercle Aristote émet des lettres d’information (newsletter) à destination de plus d’un millier de personnes<br />
                              inscrites à sa liste de diffusion.<br />
                              Ces lettres d’information vise essentiellement à relayer les événements, les articles, les ouvrages et les vidéos<br />
                              du Cercle Aristote, de Pierre-Yves Rougeyron ou des amis de l’association.<br />
                              Au regard du lien direct qu’opère cette lettre d’information avec le public du Cercle Aristote, cette<br />
                              communication rêvet une importance fondamentale en vue de la promotion et du suivi des activités de</p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="http://www.cerclearistote.com/sites/default/files/2022-01/Cercle%20Aristote%20-%20REDACTEUR%20NEWSLETTER%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=86087" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - REDACTEUR NEWSLETTER - Fiche de poste.pdf</a></span><span
                                  class="file-size">84.07 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                    <div class="views-col col-2" style="width: 50%;">
                      <article data-history-node-id="126" role="article" about="/fr/node/126" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/126" rel="bookmark">
                            <span>Gestionnaire TIKTOK</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/126" rel="tag" title="Gestionnaire TIKTOK" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Gestionnaire TIKTOK</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Le Cercle Aristote produit chaque année plusieurs dizaines de supports audiovisuels qu’il diffuse par le<br />
                              biais de ses différents canaux de communication. Plus de 600 vidéos ont été préparées par le Cercle Aristote<br />
                              depuis sa création : entretiens, conférences, revues d’actualité, formats originaux, etc.<br />
                              Aujourd’hui, le Cercle Aristote souhaite élargir le spectre de ses vecteurs de comunication en investissant<br />
                              le réseau social TikTok où innover en matière de format audiovisuel par la diffusion de vidéos de courte<br />
                              durée.</p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="http://www.cerclearistote.com/sites/default/files/2022-01/Cercle%20Aristote%20-%20GESTIONNAIRE%20%20TIKTOK%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=78743" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - GESTIONNAIRE TIKTOK - Fiche de poste.pdf</a></span><span
                                  class="file-size">76.9 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                  </div>
                  <div class="views-row clearfix row-6">
                    <div class="views-col col-1" style="width: 50%;">
                      <article data-history-node-id="125" role="article" about="/fr/node/125" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/125" rel="bookmark">
                            <span>Archiviste</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/125" rel="tag" title="Archiviste" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Archiviste</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>Le Cercle Aristote publie chaque année des dizaines d’ouvrages, d’articles ou de supports audiovisuels par<br />
                              le biais de sa collection, de son site internet ou de ses réseaux sociaux.<br />
                              Depuis la fondation du Cercle Aristote, ces productions constituent le patrimoine de l’association qu’il<br />
                              convient de protéger et d’entretenir, à plus forte raison aujourd’hui qu’il croît en lien avec développement<br />
                              du mouvement souverainiste.<br />
                              Dans ce cadre, le rôle de l’archiviste consiste à abonder les archives du Cercle Aristote au fur et à mesure</p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="https://cerclearistote.com/sites/default/files/2022-01/Cercle%20Aristote%20-%20ARCHIVISTE%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=74950" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - ARCHIVISTE - Fiche de poste.pdf</a></span><span
                                  class="file-size">73.19 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                    <div class="views-col col-2" style="width: 50%;">
                      <article data-history-node-id="124" role="article" about="/fr/node/124" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/124" rel="bookmark">
                            <span>Technicien Vidéo et Son</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/124" rel="tag" title="Technicien Vidéo et Son" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Technicien Vidéo et Son</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p>L<span dir="ltr">e Cercle Aristote</span><span dir="ltr"> </span><span dir="ltr">organise chaque lundi des conférences</span><span dir="ltr"> </span><span dir="ltr">qui constituent l’un de</span><span dir="ltr">
                              </span><span dir="ltr">s</span><span dir="ltr">es rendez</span><span dir="ltr">-</span><span dir="ltr">vous</span><br /><span dir="ltr">traditionnels.</span><br /><span dir="ltr">Ces conférences, mettant le plus souvent
                                à l’honneur les</span><span dir="ltr"> </span><span dir="ltr">auteurs liés au Cercle Aristote, font l’objet d’un</span></p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="https://cerclearistote.com/sites/default/files/2021-12/Cercle%20Aristote%20-%20TECHNICIEN%20VIDEO%20%26%20SON%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=79765" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - TECHNICIEN VIDEO &amp; SON - Fiche de
                                    poste.pdf</a></span><span class="file-size">77.9 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                  </div>
                  <div class="views-row clearfix row-7">
                    <div class="views-col col-1" style="width: 50%;">
                      <article data-history-node-id="123" role="article" about="/fr/node/123" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/123" rel="bookmark">
                            <span>Opérateur Evénementiel</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/123" rel="tag" title="Opérateur Evénementiel" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Opérateur Evénementiel</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p><span dir="ltr">Depui</span><span dir="ltr">s sa création, Cercle Aristote a</span><span dir="ltr"> </span><span dir="ltr">été à l’initiative de</span><span dir="ltr"> </span><span dir="ltr">plusieurs centaines
                                d’événements.</span><br /><br /><span dir="ltr">Leur organisation découle</span><span dir="ltr"> </span><span dir="ltr">aujourd’hui</span><span dir="ltr"> </span><span dir="ltr">d’un</span><span dir="ltr"> </span><span
                                dir="ltr">savoir</span><span dir="ltr">-</span><span dir="ltr">faire qui demande une démonstration hebdomadaire.</span></p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="https://cerclearistote.com/sites/default/files/2021-12/Cercle%20Aristote%20-%20OPERATEUR%20EVENEMENTIEL%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=78604" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - OPERATEUR EVENEMENTIEL - Fiche de poste.pdf</a></span><span
                                  class="file-size">76.76 Ko</span></span></div>
                          </div>

                        </div>

                      </article>
                    </div>
                    <div class="views-col col-2" style="width: 50%;">
                      <article data-history-node-id="121" role="article" about="/fr/node/121" class="offre-de-poste is-promoted teaser clearfix">


                        <h2>
                          <a href="/fr/node/121" rel="bookmark">
                            <span>Correcteur</span>
                          </a>
                        </h2>



                        <div class="content">
                          <ul class="links inline list-inline">
                            <li class="node-readmore"><a href="/fr/node/121" rel="tag" title="Correcteur" hreflang="fr">En savoir plus<span class="visually-hidden"> sur Correcteur</span></a></li>
                          </ul>
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                            <p><span dir="ltr">Au sein de la cellule Correction, l’équipe de correcteurs</span><span dir="ltr"> </span><span dir="ltr">s’emploie à la révision des textes et des manuscrits </span><br /><span dir="ltr">pour en
                                garantir</span><span dir="ltr">, en lien avec l</span><span dir="ltr">eurs </span><span dir="ltr">auteur</span><span dir="ltr">s</span><span dir="ltr">,</span><span dir="ltr"> </span><span dir="ltr">la qualité formelle
                                avant parution. Par son implication, le </span></p>
                          </div>

                          <div class="field field--name-field-description-complete field--type-file field--label-above">
                            <div class="field--label">Description Complete</div>
                            <div class="field--item"><span class="file file--mime-application-pdf file--application-pdf icon-before"><span class="file-icon"><span class="icon glyphicon glyphicon-file text-primary"
                                    aria-hidden="true"></span></span><span class="file-link"><a href="https://cerclearistote.com/sites/default/files/2021-12/Cercle%20Aristote%20-%20CORRECTEUR%20-%20Fiche%20de%20poste.pdf"
                                    type="application/pdf; length=74744" title="Open fichier in new window" target="_blank" data-toggle="tooltip" data-placement="bottom">Cercle Aristote - CORRECTEUR - Fiche de poste.pdf</a></span><span
                                  class="file-size">72.99 Ko</span></span></div>
                          </div>

                        </div>
                          {{ .Params.justtothrowahugoerror }}
                      </article>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>


        </div>

      </section>
