<!--
The Gulp Build must calculate integrity sha384-checksums of all javascripts files
 integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"

     /js/yellow-share.js   =>   works with 'yellow-share.html' partial
     <script src="/js/yellow-share.js" crossorigin="anonymous"></script>
-->
<div class="branch no-animation">
  <div class="node" id="facebook">
    <div class="fa fa-facebook share-alt-icon"></div>
  </div>
  <div class="stem"></div>
</div>
<div class="branch no-animation">
  <div class="node" id="linkedin">
    <div class="fa fa-linkedin share-alt-icon"></div>
  </div>
  <div class="stem"></div>
</div>
<div class="branch no-animation">
  <div class="node" id="google-plus">
    <div class="fa fa-google-plus share-alt-icon"></div>
  </div>
  <div class="stem"></div>
</div>
<div class="branch no-animation">
  <div class="node" id="pinterest">
    <div class="fa fa-pinterest share-alt-icon"></div>
  </div>
  <div class="stem"></div>
</div>
<div class="branch no-animation">
  <div class="node" id="twitter">
    <div class="fa fa-twitter share-alt-icon"></div>
  </div>
  <div class="stem"></div>
</div>
<div class="main-button share-alt">
  <div class="fa fa-share-alt fa-2x"></div>
</div>
<div class="container no-animation">
  <div class="segment">
    <div class="fa fa-snapchat-ghost social-icon"></div>
  </div>
  <div class="segment">
    <div class="fa fa-vine social-icon"></div>
  </div>
  <div class="segment">
    <div class="fa fa-instagram social-icon"></div>
  </div>
  <div class="segment">
    <div class="fa fa-whatsapp social-icon"></div>
  </div>
</div>
<div class="main-button social">
  <div class="fa fa-ellipsis-h fa-2x"></div>
</div>
<div class="float-circle" id="flickr">
  <div class="fa fa-flickr share-icon"></div>
</div>
<div class="float-circle" id="youtube">
  <div class="fa fa-youtube-play share-icon"></div>
</div>
<div class="float-circle" id="dropbox">
  <div class="fa fa-dropbox share-icon"></div>
</div>
<div class="main-button share">
  <div class="fa fa-share fa-2x"></div>
</div>
