<div class='yellowcontainer tabs yellow tabbed livestreams yellow social share'>
  <!--
The Gulp Build must calculate integrity sha384-checksums of all javascripts files
 integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"

     /js/yellow-share.js   =>   works with 'yellow-share.html' partial
     <script src="/js/yellow-share.js" crossorigin="anonymous"></script>
-->
  <div class="float-circle yellow social share" id="flickr">
    <div class="fa fa-flickr share-icon yellow social share"></div>
  </div>
  <div class="float-circle yellow social share" id="youtube">
    <div class="fa fa-youtube-play share-icon yellow social share"></div>
  </div>
  <div class="float-circle yellow social share" id="dropbox">
    <div class="fa fa-dropbox share-icon yellow social share"></div>
  </div>

  <div class="main-button share yellow social share">
    <div class="fa fa-share fa-2x yellow social share"></div>
  </div>
</div>
