<div class='tabs yellow tabbed livestreams'>
  <!-- Flattern structure for adjacent sibling combinator -->

  <!-- Tab 1 & Content -->
  <input type="radio" name="tab" id="tab1" role="tab" class='yellow tabbed livestreams'>

  <label for="tab1" id="tab1-label" class='yellow tabbed livestreams tab line big online'>

    <i class="fa fa-vk fa-fw awesome flashy bouton"></i>

  </label>
  <section aria-labelledby="tab1-label" class='yellow tabbed livestreams'>
      <div class="conteneur jaune lives horizontal">
            <!-- GO TO VK.com live BUTTON -->
            <!--
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fa fa-vk fa-fw awesome flashy bouton"></i>
                  VK.com Live
                </span>
              </a>
            </li>
            -->

            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
      </div>
      <div class="row conteneur jaune lives vertical">
        <div class="col-12 haut">
            <!-- GO TO VK.com live BUTTON -->
            <!--
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fa fa-vk fa-fw awesome flashy bouton"></i>
                  VK.com Live
                </span>
              </a>
            </li>
            -->

        </div>
        <div class="col-12 bas">
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "vk_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>

            </li>
        </div>
      </div>
      <hr/>
      <!-- VK LIVE - PLAYER -->
      <!-- -->
      <div class="embed-responsive embed-responsive-16by9">

        <!-- <iframe src="{{ .Get "vk_live_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>

        </iframe>
       -->



       <div id="vk_post_{{ .Get "vk_live_id" }}"></div>
       <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
       <script type="text/javascript">
         (function() {
           VK.Widgets.Post("vk_post_{{ .Get "vk_live_id" }}", 698593797, 31, 'HXrOomG5h40I5FsKTMy5TrP1gmbn');
         }());
       </script>


        <!-- That's what i got from VK.com Web UI :

        <div id="vk_post_698593797_31"></div>
        <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
        <script type="text/javascript">
          (function() {
            VK.Widgets.Post("vk_post_698593797_31", 698593797, 31, 'HXrOomG5h40I5FsKTMy5TrP1gmbn');
          }());
        </script>

        https://vk.com/wall698593797_31

        -->

        <!--

          == Re-exported RAW

          <iframe src="https://vk.com/video_ext.php?oid=698593797&id=456239019&hash=61732c28e7f24365&hd=2" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>

         -->

      </div>

  </section>


  <!-- Tab 2 & Content jblici -->
  <input type="radio" name="tab" id="tab2" role="tab" class='yellow tabbed livestreams'><!-- Tab 4 & Content jblici -->
  <label for="tab2" id="tab2-label"  class='yellow tabbed livestreams tab line big online'>
    <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
  </label>
  <section aria-labelledby="tab2-label" class='yellow tabbed livestreams'>
    <div class="conteneur jaune lives horizontal">
          <!-- YOUTUBE LIVE BTN -->
          <!--
          <li class="list-inline-item radio jaune livestream button">
            <a href="{{ .Get "youtube_live_url" }}"  style="--clr:{{ .Get "color" }}; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">
              <span class="network-name">
                <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
                YouTube Live
              </span>
            </a>
          </li>
           -->
          <!-- Talk live BUTTON -->
          <li class="list-inline-item radio jaune livestream button">
            <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
              <span class="network-name">
                <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                {{ .Get "join_live_text" }}
              </span>
            </a>
          </li>
    </div>
    <div class="row conteneur jaune lives vertical">
      <div class="col-12 haut">
          <!-- YOUTUBE LIVE BTN -->
          <!--
          <li class="list-inline-item radio jaune livestream button">
            <a href="{{ .Get "youtube_live_url" }}"  style="--clr:{{ .Get "color" }}; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">
              <span class="network-name">
                <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
                YouTube Live
              </span>
            </a>
          </li>
        -->
      </div>
      <div class="col-12 bas">
          <!-- Talk live BUTTON -->
          <li class="list-inline-item radio jaune livestream button">
            <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
              <span class="network-name">
                <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                {{ .Get "join_live_text" }}
              </span>
            </a>
          </li>
      </div>
    </div>
    <hr/>
    <!-- YOUTUBE PLAYER -->
    <div class="embed-responsive embed-responsive-16by9">
      <!-- esyY47dmxoI -->
      <!--
         <iframe width="560" height="315" src="https://www.youtube.com/embed/esyY47dmxoI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         https://www.youtube.com/embed/live_stream?channel={{ .Get "channel_yt_live_id" }}


      -->
      <iframe src="https://www.youtube.com/embed/{{ .Get "yt_livestream_id" }}?enablejsapi=1{{ with .Get "yellow_livestreams_color" }}{{ if eq . "white" }}&color=white{{ end }}{{ end }}{{ with .Get "yt_autoplay" }}{{ if eq . "true" }}&autoplay=1{{ end }}{{ end }}{{ if isset .Params "yt_start" }}&start={{ .Get "yt_start" }}{{ end }}{{ if isset .Params "yt_end" }}&end={{ .Get "yt_end" }}{{ end }}{{ with .Get "yt_modestbranding" }}{{ if eq . "true" }}&modestbranding=1{{ end }}{{ end }}"{{ if .Get "yellow_player_class" }} class="{{ .Get "yellow_player_class" }}"{{ end }} allowfullscreen></iframe>


      <!--

          <iframe width="560" height="315" src="https://www.youtube.com/embed/uQ5DjNpbu3k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>

       -->
    </div>
  </section>

















  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- --  DEBUT TWITTER -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->





        <!-- Tab 5 & Content TWITTER -->
        <input type="radio" name="tab" id="tab5" role="tab" class='yellow tabbed livestreams'>

        <label for="tab5" id="tab5-label" class='yellow tabbed livestreams tab line big online'>

          <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>

        </label>
        <section aria-labelledby="tab5-label" class='yellow tabbed livestreams'>
            <div class="conteneur jaune lives horizontal">
                  <!-- GO TO Twitter live BUTTON -->
                  <!--
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>
                        VK.com Live
                      </span>
                    </a>
                  </li>
                  -->

                  <!-- Talk live BUTTON -->
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                        {{ .Get "join_live_text" }}
                      </span>
                    </a>
                  </li>
            </div>
            <div class="row conteneur jaune lives vertical">
              <div class="col-12 haut">
                  <!-- GO TO Twitter.com live BUTTON -->
                  <!--
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "twitter_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>
                        Twitter Live
                      </span>
                    </a>
                  </li>
                  -->

              </div>
              <div class="col-12 bas">
                  <!-- Talk live BUTTON -->
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                        {{ .Get "join_live_text" }}
                      </span>
                    </a>

                  </li>
              </div>
            </div>

            <!-- TWITTER LIVE - PLAYER -->

            <div class="embed-responsive embed-responsive-16by9">

              <blockquote class="twitter-tweet"><p lang="es" dir="ltr">RADIO LIBRE #3 <a href="https://t.co/VYrLZ5txB1">https://t.co/VYrLZ5txB1</a></p>&mdash; Radiojaune.com (@radiojaune) <a href="https://twitter.com/radiojaune/status/1487878499893334018?ref_src=twsrc%5Etfw">January 30, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>

        </section>










          <!-- ------------------------------------------------ -->
          <!-- ------------------------------------------------ -->
          <!-- ------------------------------------------------ -->
          <!-- ------------------------------------------------ -->
          <!-- --  FIN TWITTER -->
          <!-- ------------------------------------------------ -->
          <!-- ------------------------------------------------ -->
          <!-- ------------------------------------------------ -->
          <!-- ------------------------------------------------ -->

























    <!-- Tab 4 & Content : RUMBLE -->
    <input class='yellow tabbed livestreams' type="radio" name="tab" id="tab4" role="tab" checked>

    <label for="tab4"
           id="tab4-label"
           class='yellow tabbed livestreams tab line big online disabled bientot pas encore'
           data-toggle="popover"
           data-content="Radio Jaune sera bientôt sur Rumble"
           >
      <i class="fas fa fa-ruble-sign fa-fw awesome flashy bouton disabled bientot pas encore'"></i>
    </label>

    <section aria-labelledby="tab4-label" class='yellow tabbed livestreams'>
      <div class="conteneur jaune lives horizontal">
            <!-- RUMBLE LIVE BTN -->
            <!--

             -->
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
      </div>
      <div class="row conteneur jaune lives vertical">
        <div class="col-12 haut">
            <!-- RUMBLE LIVE BTN -->

            <!--
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "rumble_live_url" }}"  style="--clr:#6441a5; --i:0;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa fa-ruble-sign fa-fw awesome flashy bouton"></i>
                  Rumble Live
                </span>
              </a>
            </li>
            -->
        </div>
        <div class="col-12 bas">
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
        </div>
      </div>
      <hr/>

  <div class="row">
      <div class="col-12 bas">
          <!-- Talk live BUTTON -->
          <p class="jaune livestream not ready">
              Radio Jaune sera bientôt sur Rumble!
          </p>
      </div>
    </div>

      <!-- RUMBLE LIVE PLAYER AND TCHAT -->

      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->

        <!-- Add a placeholder for the Rumble embed -->
        <div id="rumble-embed"></div>

        <!-- Load the Rumble embed JavaScript file -->
        <script src="https://embed.rumble.com/embed/v1.js"></script>

        <!-- Create a Rumble. Embed object that will render within the "rumble-embed" element -->
        <script type="text/javascript">

          new Rumble.Embed("rumble-embed", {
            width: '100%',
            height: 480,
            /* height: '100%', */
            /* height: 300, */
            channel: "{{ .Get "rumble_channel_name" }}", // oua super facile, juste à mettre le nom dela chaîne twitch :  "monstercat" est une chaîne twitch existante
            autoplay: false,
            // Only needed if this page is going to be embedded on other websites
            parent: ["radiojaune.com"]
          });
        </script>
    </section>






































    <!-- Tab 3 & Content -->
    <input class='yellow tabbed livestreams' type="radio" name="tab" id="tab3" role="tab" checked>

    <label for="tab3" id="tab3-label" class='yellow tabbed livestreams tab line big online'>
      <i class="fa fa-twitch fa-fw awesome flashy bouton"></i>
    </label>

    <section aria-labelledby="tab3-label" class='yellow tabbed livestreams'>
      <div class="conteneur jaune lives horizontal">

            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
      </div>
      <div class="row conteneur jaune lives vertical">
        <div class="col-12 haut">
-
        </div>
        <div class="col-12 bas">
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
        </div>
      </div>
      <hr/>

      <!-- TWITCH LIVE PLAYER AND TCHAT -->
      <!-- https://dev.twitch.tv/docs/embed -->

      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->

        <!-- Add a placeholder for the Twitch embed -->
        <div id="twitch-embed"></div>

        <!-- Load the Twitch embed JavaScript file -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->
        <script type="text/javascript">

            new Twitch.Embed("twitch-embed", {
              width: '100%',
              height: 480,
              /* height: '100%', */
              /* height: 300, */
              channel: "{{ .Get "twitch_channel_name" }}", // oua super facile, juste à mettre le nom dela chaîne twitch :  "monstercat" est une chaîne twitch existante
              autoplay: false,
              // Only needed if this page is going to be embedded on other websites
              parent: ["radiojaune.com"]
            });

        </script>
    </section>




</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->




<!-- TWITCH LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "twitch_live_url" }}"  style="--clr:#6441a5; --i:0;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-twitch fa-fw awesome flashy bouton"></i>
  Twitch Live
</span>
</a>
</li>
 -->

<!-- STEAM LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "steam_live_url" }}"  style="--clr:#ffff00; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-steam fa-fw awesome flashy bouton"></i>
  Steam Live
</span>
</a>
</li>
-->
<!-- VK.com -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-vk fa-fw awesome flashy bouton"></i>
  VK.com Live
</span>
</a>
</li>
-->

<!-- YOUTUBE LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "youtube_live_url" }}"  style="--clr:{{ .Get "color" }}; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
  YouTube Live
</span>
</a>
</li>
-->

<!-- FACEBOOK LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "facebook_live_url" }}"  style="--clr:#0033ff; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-facebook-square fa-fw awesome flashy bouton"></i>
  Facebook Live
</span>
</a>
</li>
-->
