<div class='tabs yellow tabbed livestreams'>
  <!-- Flattern structure for adjacent sibling combinator -->

  <!-- Tab 1 & Content -->
  <input type="radio" name="tab" id="tab3" role="tab" class='yellow tabbed livestreams'>
  <label for="tab3" id="tab3-label" class='yellow tabbed livestreams tab'>

    <i class="fa fa-vk fa-fw awesome flashy bouton"></i>

  </label>
  <section aria-labelledby="tab3-label" class='yellow tabbed livestreams'>
      <div class="conteneur jaune lives horizontal">
            <!-- GO TO VK.com live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fa fa-vk fa-fw awesome flashy bouton"></i>
                  VK.com Live
                </span>
              </a>
            </li>
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
      </div>
      <div class="row conteneur jaune lives vertical">
        <div class="col-12 haut">
            <!-- GO TO VK.com live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fa fa-vk fa-fw awesome flashy bouton"></i>
                  VK.com Live
                </span>
              </a>
            </li>
        </div>
        <div class="col-12 bas">
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "vk_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
        </div>
      </div>
      <hr/>
      <!-- VK LIVE - PLAYER -->
      <div class="embed-responsive embed-responsive-16by9">
        <!-- VENOM -->
        <iframe src="{{ .Get "vk_live_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>
        </iframe>
      </div>
  </section>

  <!-- Tab 4 & Content -->
  <input type="radio" name="tab" id="tab4" role="tab" class='yellow tabbed livestreams'>
  <label for="tab4" class='yellow tabbed livestreams tab'>
    <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
  </label>
  <section class='yellow tabbed livestreams'>
    <div class="conteneur jaune lives horizontal">
          <!-- YOUTUBE LIVE BTN -->
          <li class="list-inline-item radio jaune livestream button">
            <a href="{{ .Get "youtube_live_url" }}"  style="--clr:{{ .Get "color" }}; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">
              <span class="network-name">
                <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
                YouTube Live
              </span>
            </a>
          </li>
          <!-- Talk live BUTTON -->
          <li class="list-inline-item radio jaune livestream button">
            <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
              <span class="network-name">
                <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                {{ .Get "join_live_text" }}
              </span>
            </a>
          </li>
    </div>
    <div class="row conteneur jaune lives vertical">
      <div class="col-12 haut">
          <!-- YOUTUBE LIVE BTN -->
          <li class="list-inline-item radio jaune livestream button">
            <a href="{{ .Get "youtube_live_url" }}"  style="--clr:{{ .Get "color" }}; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">
              <span class="network-name">
                <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
                YouTube Live
              </span>
            </a>
          </li>
      </div>
      <div class="col-12 bas">
          <!-- Talk live BUTTON -->
          <li class="list-inline-item radio jaune livestream button">
            <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
              <span class="network-name">
                <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                {{ .Get "join_live_text" }}
              </span>
            </a>
          </li>
      </div>
    </div>
    <hr/>
    <!-- YOUTUBE PLAYER -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://www.youtube.com/embed/{{ .Get "channel_yt_live_id" }}?enablejsapi=1{{ with .Get "yellow_livestreams_color" }}{{ if eq . "white" }}&color=white{{ end }}{{ end }}{{ with .Get "yt_autoplay" }}{{ if eq . "true" }}&autoplay=1{{ end }}{{ end }}{{ if isset .Params "yt_start" }}&start={{ .Get "yt_start" }}{{ end }}{{ if isset .Params "yt_end" }}&end={{ .Get "yt_end" }}{{ end }}{{ with .Get "yt_modestbranding" }}{{ if eq . "true" }}&modestbranding=1{{ end }}{{ end }}"{{ if .Get "yellow_player_class" }} class="{{ .Get "yellow_player_class" }}"{{ end }} allowfullscreen></iframe>
    </div>
  </section>



    <!-- Tab 3 & Content -->
    <input class='yellow tabbed livestreams' type="radio" name="tab" id="tab1" role="tab" checked>

    <label for="tab1" id="tab1-label" class='yellow tabbed livestreams tab'>
      <i class="fa fa-twitch fa-fw awesome flashy bouton"></i>
    </label>


    <section aria-labelledby="tab1-label" class='yellow tabbed livestreams'>
      <div class="conteneur jaune lives horizontal">
            <!-- TWITCH LIVE BTN -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "twitch_live_url" }}"  style="--clr:#6441a5; --i:0;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fa fa-twitch fa-fw awesome flashy bouton"></i>
                  Twitch Live
                </span>
              </a>
            </li>
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
      </div>
      <div class="row conteneur jaune lives vertical">
        <div class="col-12 haut">
            <!-- TWITCH LIVE BTN -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "twitch_live_url" }}"  style="--clr:#6441a5; --i:0;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fa fa-twitch fa-fw awesome flashy bouton"></i>
                  Twitch Live
                </span>
              </a>
            </li>
        </div>
        <div class="col-12 bas">
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
        </div>
      </div>
      <hr/>

      <!-- TWITCH LIVE PLAYER AND TCHAT -->
      <!-- https://dev.twitch.tv/docs/embed -->

      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->

        <!-- Add a placeholder for the Twitch embed -->
        <div id="twitch-embed"></div>

        <!-- Load the Twitch embed JavaScript file -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->
        <script type="text/javascript">

          new Twitch.Embed("twitch-embed", {
            width: '100%',
            height: 480,
            channel: "{{ .Get "twitch_channel_name" }}", // oua super facile, juste à mettre le nom dela chaîne twitch :  "monstercat" est une chaîne twitch existante
            autoplay: false,
            // Only needed if this page is going to be embedded on other websites
            parent: ["embed.example.com", "othersite.example.com"]
          });
        </script>
    </section>


    <!-- Tab 2 & Content -->
    <input type="radio" name="tab" id="tab2" role="tab" class='yellow tabbed livestreams'>
    <label for="tab2" id="tab2-label" class='yellow tabbed livestreams tab'>
      <i class="fa fa-telegram fa-fw awesome flashy bouton"></i>
    </label>
    <section aria-labelledby="tab2-label" class='yellow tabbed livestreams'>
          <div class="conteneur jaune lives horizontal">

                <!-- GO TO TELEGRAM LIVE BUTTON -->
                <li class="list-inline-item radio jaune livestream button">
                  <a href="{{ .Get "telegram_live_url" }}"  style="--clr:#0088cc; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">
                    <span class="network-name">
                      <i class="fa fa-telegram fa-fw awesome flashy bouton"></i>
                      Telegram Live
                    </span>
                  </a>
                </li>

                <!-- Talk live BUTTON -->

                <li class="list-inline-item radio jaune livestream button">
                <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">

                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
                </a>
                </li>

          </div>
          <div class="row conteneur jaune lives vertical">
            <div class="col-12 haut">
                <!-- GO TO TELEGRAM LIVE BUTTON -->
                <li class="list-inline-item radio jaune livestream button">
                  <a href="{{ .Get "telegram_live_url" }}"  style="--clr:#0088cc; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">
                    <span class="network-name">
                      <i class="fa fa-telegram fa-fw awesome flashy bouton"></i>
                      Telegram Live
                    </span>
                  </a>
                </li>
            </div>
            <div class="col-12 bas">
              <!-- Talk live BUTTON -->

              <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">

              <span class="network-name">
                <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                {{ .Get "join_live_text" }}
              </span>
              </a>
              </li>

            </div>
          </div>
          <hr/>

    </section>

  <!-- Tab 5 & Content -->

  <input type="radio" name="tab" id="tab5" role="tab" class='yellow tabbed livestreams'>
    <label for="tab5" class='yellow tabbed livestreams tab last'>

      <i class="fa fa-facebook-square fa-fw awesome flashy bouton"></i>

    </label>
    <section class='yellow tabbed livestreams'>
        <div class="conteneur jaune lives horizontal">
              <!-- GO TO FACEBOOK LIVE BUTTON -->
              <li class="list-inline-item radio jaune livestream button">
                <a href="{{ .Get "facebook_live_url" }}"  style="--clr:#0033ff; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">
                  <span class="network-name">
                    <i class="fa fa-facebook-square fa-fw awesome flashy bouton"></i>
                    Facebook Live
                  </span>
                </a>
              </li>
              <!-- Talk live BUTTON -->
              <li class="list-inline-item radio jaune livestream button">
                <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                  <span class="network-name">
                    <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                    {{ .Get "join_live_text" }}
                  </span>
                </a>
              </li>
        </div>
        <div class="row conteneur jaune lives vertical">
          <div class="col-12 haut">
              <!-- GO TO FACEBOOK LIVE BUTTON -->
              <li class="list-inline-item radio jaune livestream button">
                <a href="{{ .Get "facebook_live_url" }}"  style="--clr:#0033ff; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                  <span class="network-name">
                    <i class="fa fa-facebook-square fa-fw awesome flashy bouton"></i>
                    Facebook Live
                  </span>
                </a>
              </li>
          </div>
          <div class="col-12 bas">
              <!-- Talk live BUTTON -->
              <li class="list-inline-item radio jaune livestream button">
                <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                  <span class="network-name">
                    <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                    {{ .Get "join_live_text" }}
                  </span>
                </a>
              </li>
          </div>
        </div>

        <hr/>
      <!-- FACEBOOK LIVE PLAYER -->

      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FNovitalsAU%2Fvideos%2F3093626230959105%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <!-- Dev stuff to remove -->
        <p>
          Seems like every time we launch a new facebooklive, facebook Web UI will give us the HTML code to embed :
          <ol>
            <li><a href="https://www.google.com/search?q=embed+facebook+live+video+in+your+website+widget&hl=en&ei=jnzdYYGjDLGIlwTWjzE&ved=0ahUKEwiBosPu3an1AhUxxIUKHdZHDAAQ4dUDCA0&uact=5&oq=embed+facebook+live+video+in+your+website+widget&gs_lcp=Cgdnd3Mtd2l6EAM6BwgAEEcQsANKBAhBGABKBAhGGABQ48kLWN_wC2Cj8gtoB3ACeAKAAbICiAH5KZIBCDAuMTkuOS4ymAEAoAEByAEIwAEB&sclient=gws-wiz">Google search keywords</a></li>
            <li>https://www.facebook.com/help/1570724596499071</li>
            <li>https://www.facebook.com/help/1570724596499071</li>

          </ol>
        </p>
      </dv>
    </section>

</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->




<!-- TWITCH LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "twitch_live_url" }}"  style="--clr:#6441a5; --i:0;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-twitch fa-fw awesome flashy bouton"></i>
  Twitch Live
</span>
</a>
</li>
 -->

<!-- STEAM LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "steam_live_url" }}"  style="--clr:#ffff00; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-steam fa-fw awesome flashy bouton"></i>
  Steam Live
</span>
</a>
</li>
-->
<!-- VK.com -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-vk fa-fw awesome flashy bouton"></i>
  VK.com Live
</span>
</a>
</li>
-->

<!-- YOUTUBE LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "youtube_live_url" }}"  style="--clr:{{ .Get "color" }}; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
  YouTube Live
</span>
</a>
</li>
-->

<!-- FACEBOOK LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "facebook_live_url" }}"  style="--clr:#0033ff; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-facebook-square fa-fw awesome flashy bouton"></i>
  Facebook Live
</span>
</a>
</li>
-->
