<div class='tabs yellow tabbed livestreams'>

  <!-- {{  partial "yellow-share-rounds" . }} -->

      <div class="row">

         <div class="col-lg-5">

         </div>
         <div class="col-lg-2">
         </div>
         <div class="col-lg-5">

         </div>
      </div>



      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- --  DEBUT FACEBOOK -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->

      <!-- Tab 2 & Content TWITTER -->
      <!--
      <input type="radio" name="tab" id="tab2" role="tab" class='yellow tabbed livestreams'>

      <label for="tab2" id="tab2-label" class='yellow tabbed livestreams tab line big online'>

        <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>

      </label>
      <section aria-labelledby="tab2-label" class='yellow tabbed livestreams'>
          <div class="conteneur jaune lives horizontal">

      -->




      <!-- Tab 1 & Content -->

        <input type="radio" name="tab" id="tab1" role="tab" class='yellow tabbed livestreams'>
        <label for="tab1" class='yellow tabbed livestreams tab line big online'>

          <i class="fa fa-facebook-square fa-fw awesome flashy bouton"></i>

        </label>
        <section class='yellow tabbed livestreams'>
            <div class="conteneur jaune lives horizontal">
                  <!-- GO TO FACEBOOK LIVE BUTTON -->
                  <!--
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "facebook_live_url" }}"  style="--clr:#0033ff; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fa fa-facebook-square fa-fw awesome flashy bouton"></i>
                        Facebook Live
                      </span>
                    </a>
                  </li>
                  -->
                  <!-- Talk live BUTTON -->
                  <!--
                  -->
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                        {{ .Get "join_live_text" }}
                      </span>
                    </a>
                  </li>
            </div>
            <div class="row conteneur jaune lives vertical">
              <div class="col-12 haut">
                  <!-- GO TO FACEBOOK LIVE BUTTON -->
                  <!--
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "facebook_live_url" }}"  style="--clr:#0033ff; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fa fa-facebook-square fa-fw awesome flashy bouton"></i>
                        Facebook Live
                      </span>
                    </a>
                  </li>
                 -->
              </div>
              <div class="col-12 bas">
                  <!-- Talk live BUTTON -->
                  <!--
                  -->
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                        {{ .Get "join_live_text" }}
                      </span>
                    </a>
                  </li>
              </div>
            </div>

            <hr/>
          <!-- FACEBOOK LIVE PLAYER -->

          <div class="embed-responsive embed-responsive-16by9">
            <!-- <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F100076758847296%2Fvideos%2F338554104906076%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> -->
            <iframe src="{{ .Get "facebook_live_url" }}" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

          </div>

        </section>


      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- --  FIN FACEBOOK -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->






















            <!-- ------------------------------------------------ -->
            <!-- ------------------------------------------------ -->
            <!-- ------------------------------------------------ -->
            <!-- ------------------------------------------------ -->
            <!-- --  DEBUT YOUTUBE -->
            <!-- ------------------------------------------------ -->
            <!-- ------------------------------------------------ -->
            <!-- ------------------------------------------------ -->
            <!-- ------------------------------------------------ -->



      <!-- Tab 2 & YOUTUBE Content -->
      <input type="radio" name="tab" id="tab2" role="tab" class='yellow tabbed livestreams'>
      <label for="tab2" class='yellow tabbed livestreams tab line big online'>
        <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
      </label>
      <section class='yellow tabbed livestreams'>
        <div class="conteneur jaune lives horizontal">
              <!-- YOUTUBE LIVE BTN -->
              <!--
              <li class="list-inline-item radio jaune livestream button">
                <a href="{{ .Get "youtube_live_url" }}"  style="--clr:{{ .Get "color" }}; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">
                  <span class="network-name">
                    <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
                    YouTube Live
                  </span>
                </a>
              </li>
              -->
              <!-- Talk live BUTTON -->
              <li class="list-inline-item radio jaune livestream button">
                <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                  <span class="network-name">
                    <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                    {{ .Get "join_live_text" }}
                  </span>
                </a>
              </li>
        </div>
        <div class="row conteneur jaune lives vertical">
          <div class="col-12 haut">
              <!-- YOUTUBE LIVE BTN -->
              <!--
              <li class="list-inline-item radio jaune livestream button">
                <a href="{{ .Get "youtube_live_url" }}"  style="--clr:{{ .Get "color" }}; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">
                  <span class="network-name">
                    <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
                    YouTube Live
                  </span>
                </a>
              </li>
              -->
          </div>
          <div class="col-12 bas">
              <!-- Talk live BUTTON -->
              <li class="list-inline-item radio jaune livestream button">
                <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                  <span class="network-name">
                    <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                    {{ .Get "join_live_text" }}
                  </span>
                </a>
              </li>
          </div>
        </div>
        <hr/>
        <!-- YOUTUBE PLAYER -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/{{ .Get "channel_yt_live_id" }}?enablejsapi=1{{ with .Get "yellow_livestreams_color" }}{{ if eq . "white" }}&color=white{{ end }}{{ end }}{{ with .Get "yt_autoplay" }}{{ if eq . "true" }}&autoplay=1{{ end }}{{ end }}{{ if isset .Params "yt_start" }}&start={{ .Get "yt_start" }}{{ end }}{{ if isset .Params "yt_end" }}&end={{ .Get "yt_end" }}{{ end }}{{ with .Get "yt_modestbranding" }}{{ if eq . "true" }}&modestbranding=1{{ end }}{{ end }}"{{ if .Get "yellow_player_class" }} class="{{ .Get "yellow_player_class" }}"{{ end }} allowfullscreen></iframe>
        </div>
      </section>




      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- --  FIN YOUTUBE -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->

























  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- --  DEBUT TWITTER -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->





        <!-- Tab 3 & TWITTER Content -->
        <input type="radio" name="tab" id="tab3" role="tab" class='yellow tabbed livestreams'>

        <label for="tab3" id="tab3-label" class='yellow tabbed livestreams tab line big online'>

          <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>

        </label>
        <section aria-labelledby="tab3-label" class='yellow tabbed livestreams'>
            <div class="conteneur jaune lives horizontal">
                  <!-- GO TO Twitter live BUTTON -->
                  <!--
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>
                        VK.com Live
                      </span>
                    </a>
                  </li>
                  -->

                  <!-- Talk live BUTTON -->
                  <!--
                  -->
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                        {{ .Get "join_live_text" }}
                      </span>
                    </a>
                  </li>
            </div>
            <div class="row conteneur jaune lives vertical">
              <div class="col-12 haut">
                  <!-- GO TO Twitter.com live BUTTON -->
                  <!--
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "twitter_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>
                        Twitter Live
                      </span>
                    </a>
                  </li>
                  -->

              </div>
              <div class="col-12 bas">
                  <!-- Talk live BUTTON -->
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                        {{ .Get "join_live_text" }}
                      </span>
                    </a>

                  </li>
              </div>
            </div>

            <!-- TWITTER LIVE - PLAYER  -->

            <div class="player twitter jaune embed-responsive embed-responsive-16by9">


              <!--
              <blockquote class="twitter-tweet"><p lang="es" dir="ltr">RADIO LIBRE #{{ .Get "numero_du_live" }} ({{ .Get "date_heure_du_live" }} En direct dès 21h) <a href="https://t.co/{{ .Get "twitter_post_id" }}">https://t.co/{{ .Get "twitter_post_id" }}</a></p>&mdash; Radiojaune.com (@radiojaune) <a href="{{ .Get "twitter_live_url" }}"> {{ .Get "date_du_live_en" }} </a></blockquote>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              -->
              <!--
              -->

              <blockquote class="twitter-tweet"><p lang="fr" dir="ltr">RADIO LIBRE #10 (20/03/2022 En direct dès 21h) <a href="https://t.co/5c5zJeIYci">https://t.co/5c5zJeIYci</a></p>&mdash; Radiojaune.com (@radiojaune) <a href="https://twitter.com/radiojaune/status/1505635413980966915?ref_src=twsrc%5Etfw">March 20, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

              <!-- <blockquote class="twitter-tweet"><p lang="fr" dir="ltr">RADIO LIBRE #{{ .Get "numero_du_live" }} ({{ .Get "date_heure_du_live" }} En direct dès 21h) <a href="https://t.co/{{ .Get "twitter_post_id" }}">https://t.co/{{ .Get "twitter_post_id" }}</a></p>&mdash; Radiojaune.com (@radiojaune) <a href="{{ .Get "twitter_live_url" }}">March 20, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

              <!-- <blockquote class="twitter-tweet"><p lang="es" dir="ltr">RADIO LIBRE #3 <a href="https://t.co/VYrLZ5txB1">https://t.co/VYrLZ5txB1</a></p>&mdash; Radiojaune.com (@radiojaune) <a href="https://twitter.com/radiojaune/status/1487878499893334018?ref_src=twsrc%5Etfw">January 30, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  -->
            </div>

        </section>

    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- --  FIN TWITTER -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->


    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- --  DEBUT TWITCH -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->

    <!-- Tab 4 & TWITCH Content -->
    <input class='yellow tabbed livestreams' type="radio" name="tab" id="tab4" role="tab" checked>

    <label for="tab4" id="tab4-label" class='yellow tabbed livestreams tab line big online'>
      <i class="fa fa-twitch fa-fw awesome flashy bouton"></i>
    </label>

    <section aria-labelledby="tab4-label" class='yellow tabbed livestreams'>
      <div class="conteneur jaune lives horizontal">

            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
      </div>
      <div class="row conteneur jaune lives vertical">
        <div class="col-12 haut">

        </div>
        <div class="col-12 bas">
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
        </div>
      </div>
      <hr/>

      <!-- TWITCH LIVE PLAYER AND TCHAT -->
      <!-- https://dev.twitch.tv/docs/embed -->

      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- Add a placeholder for the Twitch embed -->
      <!--

      twitch_video_id="1424746455"
      twitch_channel_html_element_id="twitch-embed"
      twitch_video_html_element_id="twitch_embed_unique_video"
       -->


        <!-- Add a placeholder for the Twitch embed -->
        <div id="{{ .Get "twitch_channel_html_element_id" }}"></div>

        <!-- Load the Twitch embed JavaScript file -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->
        <script type="text/javascript">

            new Twitch.Embed("{{ .Get "twitch_channel_html_element_id" }}", {
              width: '100%',
              height: 480,
              /* height: '100%', */
              /* height: 300, */
              channel: "{{ .Get "twitch_channel_name" }}", // oua super facile, juste à mettre le nom dela chaîne twitch
              autoplay: true,
              // Only needed if this page is going to be embedded on other websites
              parent: ["radiojaune.com"]
            });

        </script>



        <div class="player twitch replay titre">

          <hr/>
          <h4>Revoir La dernière <span class="cent jaune marque">Radio Libre</span></h4>
        </div>

        <!--       -->
        <div class="player twitch replay jaune embed-responsive embed-responsive-16by9">

          <div id="{{ .Get "twitch_video_html_element_id" }}"></div>

          <!-- Load the Twitch embed script -->
          <script src="https://player.twitch.tv/js/embed/v1.js"></script>

          <!-- Create a Twitch.Player object. This will render within the placeholder div -->
          <script type="text/javascript">
            new Twitch.Player("{{ .Get "twitch_video_html_element_id" }}", {
              width: '100%',
              height: 480,
              video: "{{ .Get "twitch_video_id" }}",
              autoplay: false,
              // Only needed if this page is going to be embedded on other websites
              parent: ["radiojaune.com"]
            });
          </script>

        </div>


    </section>

    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- --  FIN TWITCH -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->


</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
