<div class='tabs yellow tabbed livestreams'>


  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- --  DEBUT TWITTER -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->
  <!-- ------------------------------------------------ -->





        <!-- Tab 5 & Content TWITTER -->
        <input type="radio" name="tab" id="tab5" role="tab" class='yellow tabbed livestreams'>

        <label for="tab5" id="tab5-label" class='yellow tabbed livestreams tab line big online'>

          <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>

        </label>
        <section aria-labelledby="tab5-label" class='yellow tabbed livestreams'>
            <div class="conteneur jaune lives horizontal">
                  <!-- GO TO Twitter live BUTTON -->
                  <!--
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>
                        VK.com Live
                      </span>
                    </a>
                  </li>
                  -->

                  <!-- Talk live BUTTON -->
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                        {{ .Get "join_live_text" }}
                      </span>
                    </a>
                  </li>
            </div>
            <div class="row conteneur jaune lives vertical">
              <div class="col-12 haut">
                  <!-- GO TO Twitter.com live BUTTON -->
                  <!--
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "twitter_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fa fa-twitter fa-fw awesome flashy bouton"></i>
                        Twitter Live
                      </span>
                    </a>
                  </li>
                  -->

              </div>
              <div class="col-12 bas">
                  <!-- Talk live BUTTON -->
                  <li class="list-inline-item radio jaune livestream button">
                    <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                      <span class="network-name">
                        <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                        {{ .Get "join_live_text" }}
                      </span>
                    </a>

                  </li>
              </div>
            </div>

            <!-- TWITTER LIVE - PLAYER  -->

            <div class="player twitter jaune embed-responsive embed-responsive-16by9">



              <blockquote class="twitter-tweet"><p lang="es" dir="ltr">RADIO LIBRE #{{ .Get "numero_du_live" }} {{ .Get "date_heure_du_live" }} <a href="https://t.co/{{ .Get "twitter_post_id" }}">https://t.co/{{ .Get "twitter_post_id" }}</a></p>&mdash; Radiojaune.com (@radiojaune) <a href="{{ .Get "twitter_live_url" }}"> {{ .Get "date_du_live_en" }} </a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

              <!-- <blockquote class="twitter-tweet"><p lang="es" dir="ltr">RADIO LIBRE #3 <a href="https://t.co/VYrLZ5txB1">https://t.co/VYrLZ5txB1</a></p>&mdash; Radiojaune.com (@radiojaune) <a href="https://twitter.com/radiojaune/status/1487878499893334018?ref_src=twsrc%5Etfw">January 30, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  -->

            </div>

        </section>

    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- --  FIN TWITTER -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->



    <!-- Tab 3 & Content -->
    <input class='yellow tabbed livestreams' type="radio" name="tab" id="tab3" role="tab" checked>

    <label for="tab3" id="tab3-label" class='yellow tabbed livestreams tab line big online'>
      <i class="fa fa-twitch fa-fw awesome flashy bouton"></i>
    </label>

    <section aria-labelledby="tab3-label" class='yellow tabbed livestreams'>
      <div class="conteneur jaune lives horizontal">

            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
      </div>
      <div class="row conteneur jaune lives vertical">
        <div class="col-12 haut">

        </div>
        <div class="col-12 bas">
            <!-- Talk live BUTTON -->
            <li class="list-inline-item radio jaune livestream button">
              <a href="{{ .Get "join_live_url" }}"  style="--clr:#ffff00; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">
                <span class="network-name">
                  <i class="fas fa-stream fa-fw awesome flashy bouton"></i>
                  {{ .Get "join_live_text" }}
                </span>
              </a>
            </li>
        </div>
      </div>
      <hr/>

      <!-- TWITCH LIVE PLAYER AND TCHAT -->
      <!-- https://dev.twitch.tv/docs/embed -->

      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- ------------------------------------------------ -->
      <!-- Add a placeholder for the Twitch embed -->
      <!--

      twitch_video_id="1304665201"
      twitch_channel_html_element_id="twitch-embed"
      twitch_video_html_element_id="twitch_embed_unique_video"
       -->


        <!-- Add a placeholder for the Twitch embed -->
        <div id="{{ .Get "twitch_channel_html_element_id" }}"></div>

        <!-- Load the Twitch embed JavaScript file -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->
        <script type="text/javascript">

            new Twitch.Embed("{{ .Get "twitch_channel_html_element_id" }}", {
              width: '100%',
              height: 480,
              /* height: '100%', */
              /* height: 300, */
              channel: "{{ .Get "twitch_channel_name" }}", // oua super facile, juste à mettre le nom dela chaîne twitch
              autoplay: true,
              // Only needed if this page is going to be embedded on other websites
              parent: ["radiojaune.com"]
            });

        </script>



        <div class="player twitch replay titre">
          <hr/>
          <h4><span class="cent jaune marque">Radio Libre</span> de Dimanche Dernier <span class="cent jaune marque">{{ .Get "date_du_live_fr" }} </span></h4>
        </div>
        <div class="player twitch replay jaune embed-responsive embed-responsive-16by9">

          <div id="{{ .Get "twitch_video_html_element_id" }}"></div>

          <!-- Load the Twitch embed script -->
          <script src="https://player.twitch.tv/js/embed/v1.js"></script>

          <!-- Create a Twitch.Player object. This will render within the placeholder div -->
          <script type="text/javascript">
            new Twitch.Player("{{ .Get "twitch_video_html_element_id" }}", {
              width: '100%',
              height: 480,
              video: "{{ .Get "twitch_video_id" }}",
              autoplay: true,
              // Only needed if this page is going to be embedded on other websites
              parent: ["radiojaune.com"]
            });
          </script>


        </div>

    </section>




</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->




<!-- TWITCH LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "twitch_live_url" }}"  style="--clr:#6441a5; --i:0;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-twitch fa-fw awesome flashy bouton"></i>
  Twitch Live
</span>
</a>
</li>
 -->

<!-- STEAM LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "steam_live_url" }}"  style="--clr:#ffff00; --i:2;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-steam fa-fw awesome flashy bouton"></i>
  Steam Live
</span>
</a>
</li>
-->
<!-- VK.com -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "vk_live_url" }}"  style="--clr:#00ff33; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-vk fa-fw awesome flashy bouton"></i>
  VK.com Live
</span>
</a>
</li>
-->

<!-- YOUTUBE LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "youtube_live_url" }}"  style="--clr:{{ .Get "color" }}; --i:1;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-youtube fa-fw awesome flashy bouton"></i>
  YouTube Live
</span>
</a>
</li>
-->

<!-- FACEBOOK LIVE -->
<!--
<li class="list-inline-item radio jaune livestream button">
<a href="{{ .Get "facebook_live_url" }}"  style="--clr:#0033ff; --i:3;" class="awesome flashy bouton btn btn-default btn-lg">

<span class="network-name">
  <i class="fa fa-facebook-square fa-fw awesome flashy bouton"></i>
  Facebook Live
</span>
</a>
</li>
-->
