<div class="row bandeau social carousel">
  <div class="col-1">
    <a href="#" alt="Go forward" class="carousel bouton forward"></a>
  </div>
  <div class="col-10">
    <!-- <h1>RADIOJAUNE.COM</h1> -->
      <div class="container">
    		<div id="carouselid">

    			<figure>
            <!-- video1_url : Vk video  LIBRE ANTENNE  -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="{{ .Get "video1_url" }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </figure>

    			<figure>
          <!-- YOUTUBE VIDEO :  BULMA CSS -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="{{ .Get "video2_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          </figure>


          <figure>
          <!-- YOUTUBE VIDEO :  BULMA CSS -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="{{ .Get "video3_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          </figure>

          <figure>
          <!-- YOUTUBE VIDEO :  BULMA CSS -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="{{ .Get "video4_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          </figure>

          <figure>
          <!-- YOUTUBE VIDEO :  BULMA CSS -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="{{ .Get "video5_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          </figure>

          <figure>
          <!-- YOUTUBE VIDEO :  BULMA CSS -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="{{ .Get "video6_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          </figure>

          <figure>
          <!-- YOUTUBE VIDEO :  BULMA CSS -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="{{ .Get "video7_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          </figure>


          <figure>
          <!-- YOUTUBE VIDEO :  BULMA CSS -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="{{ .Get "video8_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          </figure>
          <figure>
          <!-- YOUTUBE VIDEO :  BULMA CSS -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="{{ .Get "video9_url" }}" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          </figure>

    		</div>
    	</div>
  </div>

  <div class="col-1">
    <a href="#" alt="Go backward" class="carousel bouton backward"></a>
  </div>
</div>
