<!-- TWITCH Player for just one specific video : -->

<!--

twitch_video_id="1304665201"
twitch_channel_html_element_id="twitch-embed"
twitch_video_html_element_id="twitch_embed_unique_video"
 -->

<!-- Add a placeholder for the Twitch embed -->
<div id="{{ .Get "twitch_video_html_element_id" }}"></div>

<!-- Load the Twitch embed script -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>

<!-- Create a Twitch.Player object. This will render within the placeholder div -->
<script type="text/javascript">
  new Twitch.Player("{{ .Get "twitch_video_html_element_id" }}", {
    video: "{{ .Get "twitch_video_id" }}"
  });
</script>
