<div class='tabs yellow tabbed livestreams social share'>
  <!--
The Gulp Build must calculate integrity sha384-checksums of all javascripts files
 integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"

     /js/yellow-share.js   =>   works with 'yellow-share.html' partial
     <script src="/js/yellow-share.js" crossorigin="anonymous"></script>
-->
  <div class="branch no-animation yellow">
    <div class="node yellow" id="facebook">
      <div class="fa fa-facebook share-alt-icon yellow"></div>
    </div>
    <div class="stem yellow"></div>
  </div>
  <div class="branch no-animation yellow">
    <div class="node yellow" id="linkedin">
      <div class="fa fa-linkedin share-alt-icon yellow"></div>
    </div>
    <div class="stem yellow"></div>
  </div>
  <div class="branch no-animation yellow">
    <div class="node yellow" id="google-plus">
      <div class="fa fa-google-plus share-alt-icon yellow"></div>
    </div>
    <div class="stem yellow"></div>
  </div>
  <div class="branch no-animation yellow">
    <div class="node yellow" id="pinterest">
      <div class="fa fa-pinterest share-alt-icon yellow"></div>
    </div>
    <div class="stem yellow"></div>
  </div>
  <div class="branch no-animation yellow">
    <div class="node yellow" id="twitter">
      <div class="fa fa-twitter share-alt-icon yellow"></div>
    </div>
    <div class="stem yellow"></div>
  </div>
  <div class="main-button share-alt yellow">
    <div class="fa fa-share-alt fa-2x yellow"></div>
  </div>
  <div class="container no-animation yellow">
    <div class="segment yellow">
      <div class="fa fa-snapchat-ghost social-icon yellow"></div>
    </div>
    <div class="segment yellow">
      <div class="fa fa-vine social-icon yellow"></div>
    </div>
    <div class="segment yellow">
      <div class="fa fa-instagram social-icon yellow"></div>
    </div>
    <div class="segment yellow">
      <div class="fa fa-whatsapp social-icon yellow"></div>
    </div>
  </div>
  <div class="main-button social yellow">
    <div class="fa fa-ellipsis-h fa-2x yellow"></div>
  </div>
  <div class="float-circle yellow" id="flickr">
    <div class="fa fa-flickr share-icon yellow"></div>
  </div>
  <div class="float-circle yellow" id="youtube">
    <div class="fa fa-youtube-play share-icon yellow"></div>
  </div>
  <div class="float-circle yellow" id="dropbox">
    <div class="fa fa-dropbox share-icon yellow"></div>
  </div>
  <div class="main-button share yellow">
    <div class="fa fa-share fa-2x yellow"></div>
  </div>
  <!--
  The Gulp Build must calculate integrity sha384-checksums of all javascripts files
   integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"

       /js/yellow-share.js   =>   works with 'yellow-share.html' partial
  -->
  <script src="/js/yellow-share.js" ></script>

</div>
