<div class='yellowcontainer tabs yellow tabbed livestreams yellow social share'>
  <!--
The Gulp Build must calculate integrity sha384-checksums of all javascripts files
 integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"

     /js/yellow-share.js   =>   works with 'yellow-share.html' partial
     <script src="/js/yellow-share.js" crossorigin="anonymous"></script>
-->
  <div class="branch no-animation yellow social share">
    <div class="node yellow social share" id="facebook">
      <div class="fa fa-facebook share-alt-icon yellow social share"></div>
    </div>
    <div class="stem yellow social share"></div>
  </div>
  <div class="branch no-animation yellow social share">
    <div class="node yellow social share" id="linkedin">
      <div class="fa fa-linkedin share-alt-icon yellow social share"></div>
    </div>
    <div class="stem yellow social share"></div>
  </div>
  <div class="branch no-animation yellow social share">
    <div class="node yellow social share" id="google-plus">
      <div class="fa fa-google-plus share-alt-icon yellow social share"></div>
    </div>
    <div class="stem yellow social share"></div>
  </div>
  <div class="branch no-animation yellow social share">
    <div class="node yellow social share" id="pinterest">
      <div class="fa fa-pinterest share-alt-icon yellow social share"></div>
    </div>
    <div class="stem yellow social share"></div>
  </div>
  <div class="branch no-animation yellow social share">
    <div class="node yellow social share" id="twitter">
      <div class="fa fa-twitter share-alt-icon yellow social share"></div>
    </div>
    <div class="stem yellow social share"></div>
  </div>
  <div class="main-button share-alt yellow social share">
    <div class="fa fa-share-alt fa-2x yellow social share"></div>
  </div>
  <div class="container no-animation yellow social share">
    <div class="segment yellow social share">
      <div class="fa fa-snapchat-ghost social-icon yellow social share"></div>
    </div>
    <div class="segment yellow social share">
      <div class="fa fa-vine social-icon yellow social share"></div>
    </div>
    <div class="segment yellow social share">
      <div class="fa fa-instagram social-icon yellow social share"></div>
    </div>
    <div class="segment yellow social share">
      <div class="fa fa-whatsapp social-icon yellow social share"></div>
    </div>
  </div>
  <div class="main-button social yellow social share">
    <div class="fa fa-ellipsis-h fa-2x yellow social share"></div>
  </div>
  <div class="float-circle yellow social share" id="flickr">
    <div class="fa fa-flickr share-icon yellow social share"></div>
  </div>
  <div class="float-circle yellow social share" id="youtube">
    <div class="fa fa-youtube-play share-icon yellow social share"></div>
  </div>
  <div class="float-circle yellow social share" id="dropbox">
    <div class="fa fa-dropbox share-icon yellow social share"></div>
  </div>
  <div class="main-button share yellow social share">
    <div class="fa fa-share fa-2x yellow social share"></div>
  </div>

</div>
